.q{
    background-color: white !important;
}
.w{
    background-color: #6969ea !important;
}
.e{
    background-color: grey;
}
.r{
    background-color: #35c135;
}
.t{
    background-color: #48c3e3;
}
.y{
    background-color: #dede4d;
}
.u{
    background-color: #e35858;
}
.i{
    background-color: darkgray;
}
.o{
    background-color: whitesmoke;
}
.p{
    background-color: #95959c;
}